.my-box {
    width: 150px;
    height: 150px;
    background-color: bisque;
}
.trans {
    transform: translate(10px, -10px);
}
.rotate {
    transform: rotate(30deg);
}
.transform {
    transform: translate(120px, 0) scale(0.8) skewX(10deg);
}
.transform-3d {
    transform: rotateX(60deg) rotateY(30deg) translate3d(0,0,-20px);
}

.transition:hover {
    background-color: red;
    transition: background-color 1s;
}

.transition {
    transition: background-color 2s;
}
.transform-transition:hover {
    transform: translate(100px,0) rotate(90deg);
    width: 200px;
    transition: all 1s ;
    transition-delay: 0.5s;
}
.transform-transition {
    transition: transform 1s, width 1s;
}

.linear-ransition:hover {
    transform: rotate(90deg);
    transition: all 1s;
    transition-timing-function: linear;
}

.input-transition>input:checked+span {
    color: blue; 
    transition: color 1s;
}
.input-transition>input+span {
    transition: color 1s;
}

.after-transition>p::after {
    content: "내용이 가려졌습니다";
    color: white;
    background-color: black;
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0
}
.after-transition>p:hover::after {
    opacity: 1;
    transition: opacity 1s;
}

.content-container {
    width: 300px;
    height: 300px;
    background-color: antiquewhite;
    overflow:  hidden;
    display: inline-block;
}
.content-container>.img {
    background-image: url(./image/새.jpg);
    background-size: cover;
    width: 300px;
    height: 300px;
    background-position: center;
}
.content-container>.img:hover {
    transform: scale(1.2);
    opacity: 0.5;
    transition: all 0.5s;
}
.content-container>.img {
    transition: all 0.5s;
}

.content-container2 {
    background-color: aqua;
    width: 300px;
    height: 300px;
    overflow:hidden ;
    display: inline-block;
}
.content-container2>.img2 {
    background-image: url(./image/새.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    transition: all 1s;
}
.content-container2>.img2:hover {
    transform: scale(1.2);
    transition: all 1s;
}
.img3 {
    background-image: url(./image/새.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
}
.black {
    color: white;
    position: absolute;
    text-align: center;
    opacity: 0;
    background-color: black;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    padding-top: 130px;
}
.content-container:hover>.black {
    opacity: 0.8;
    transition: all 1s;
}
.animation{
    animation-name: movingback;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes moving {
    from {transform: translate(0,0);}
    to {transform: translate(100px,0);}
}
@keyframes movingback {
    0% {transform: translate(0,0);}
    50% {transform: translate(200px,0);}
    100% {transform: translate(0,0);}
}
.wrap {
    overflow:hidden ;
}
.animation-box {
    animation: movingbox 5s infinite;
}
@keyframes movingbox {
    0% {border-radius: 0;}
    20% {
        transform: rotate(90deg);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    background-color: orangered;
}
    40% {transform: rotate(180deg);
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 0%;
        border-top-right-radius: 0%;
        background-color: orangered;}
    60% {
        transform: rotate(270deg);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 0%;
    background-color: orangered;
    }
    80%{
        transform: rotate(360deg);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    
    }
    100% {
        transform: rotate(360deg);
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    
    }
}
.text {
    width: 150px;
    height: 150px;
    text-align: center;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    padding-top: 60px;
}

.filter {
    width: 300px;
    transition: all 0.4s;
}
.filter:hover {
    filter: blur(5px) brightness(3);
    transition: all 0.4s;
}
.image-list>.content-img {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-size: cover;
}
.image-list>.content-img:first-child {
    background-image: url(./image/새.jpg);
}
.image-list>.content-img:first-child:hover {
    filter: invert(60%);
}
.image-list>.content-img:nth-child(2) {
    background-image: url(./image/dog.jpg);
    filter: contrast(200%);
}
.image-list>.content-img:nth-child(3) {
    background-image: url(./image/frozen-lake.jpg);
    filter: sepia(80%);
}

.smile {
    margin-left: 20px;
    background-image: url(./image/smile.svg);
    width: 300px;
    height: 300px;
    animation: smile-box 1s infinite;

}
@keyframes smile-box {
    0% {
        transform: translate(0,0);
    }
    20% {
        transform: translate(-20px,0);
    }
    40% {
        transform: translate(20px,0);
    }
    60% {
        transform: translate(-20px,0);
    }
    80% {
        transform: translate(20px,0);
    }
    100% {
        transform: translate(0,0);
    }
}
.smile2 {
    margin-left: 20px;
    background-image: url(./image/smile.svg);
    width: 300px;
    height: 300px;
}
.mix-blend {
    position: fixed;
    top: 0;
    color: white;
    mix-blend-mode: difference;
    background-color: blue;
}

