.link {
    border: pink solid 4px;
    
}
.link>ul {
    list-style-type: none;
}
.link a {
    text-decoration: none;
}
.tag {
    position: absolute;
    right: 10px;
    margin: 20px 0;
}
.tag>span {
    background-color: blue;
    color: white;
    padding: 8px;
    border-radius: 35px 35px;
}